  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="https://www.facebook.com/anviamsolutions/" class="brand-link">
        <img src="/assets/anviam3.png" class="brand-image" style="opacity: .8">
         <span class="brand-text font-weight-light"><label> </label></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/assets/user.jpeg" class="img-circle elevation-2">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="https://guides.rubyonrails.org/" class="nav-link active">
                        <i class="nav-icon fa fa-tachometer" aria-hidden="true"></i>
                        <p>
                            Rails Guide 6.1.4
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="nav-link">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <p>Bootstrap 5</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.w3schools.com/jquERy/default.asp" class="nav-link">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <p>Learn Jquery</p>
                            </a>
                        </li>
                         <li class="nav-item">
                           <a href="https://www.w3schools.com/html/" class="nav-link">
                               <i class="fa fa-home" aria-hidden="true"></i>
                              <p>
                               Learn Html
                               </p>
                             </a>
                                </li>
                                <li class="nav-item">
                             <a href="https://www.w3schools.com/css/" class="nav-link">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <p> Learn Css</p>
                            </a>
                        </li>
                            <li class="nav-item">
                                <a href="https://www.w3schools.com/js/" class="nav-link">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <p>Learn Javascript</p>
                                </a>
                            </li>
                             <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <p>Subscription</p>
                                </a>
                                
                                    
                                
                            </li>
                    </ul>
                </li>
               
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
